[
  {
    title: "Overwrite pull"
    tip: "git fetch --all && git reset --hard origin/master"
  }
  {
    title: "List of all the files changed in a commit"
    tip: "git ls-tree --name-only -r <commit-ish>"
  }
  {
    title: "Git reset first commit"
    tip: "git update-ref -d HEAD"
  }
  {
    title: "List all the conflicted files"
    tip: "git diff --name-only --diff-filter=U"
  }
  {
    title: "List all branches that are already merged into master"
    tip: "git checkout master && git branch --merged"
  }
  {
    title: "Quickly switch to the previous branch"
    tip: "git checkout -"
  }
  {
    title: "Remove branches that have already been merged with master"
    tip: "git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  }
  {
    title: "List all branches and their upstreams, as well as last commit on branch"
    tip: "git branch -vv"
  }
  {
    title: "Track upstream branch"
    tip: "git branch -u origin/mybranch"
  }
]
